.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2F3F4;
    padding: 2em 0;
}
.about-content{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60em;
    padding: 1em;
}
.content-container{
    font-size: 18pt;
    width: 22em;
}
.img-container{
    border: 1px solid black;
    border-radius: 50%;
    width: 20em;
    height: 20em;
}
@media(max-width: 1000px){
    .about-content{
        width: 100%;
    }
}
@media(max-width: 920px){
    .about-content{
        flex-direction: column;
    }
    .content-container{
        margin-bottom: 1em;
        width: 80%;
    }
}
@media(max-width: 399px){
    .content-container{
        width: 90%;
        font-size: 16pt;
    }
    .img-container{
        width: 15em;
        height: 15em;
    }
}
@media(max-width: 280px){
    .img-container{
        width: 12em;
        height: 12em;
    }
}