.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2F3F4;
    padding: 2em 0;
}
#header{
    font-size: 28pt;
}
.about-content{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60em;
    padding: 1em;
}
.content-container{
    font-size: 18pt;
    width: 22em;
}
.img-container{
    border: 1px solid black;
    border-radius: 50%;
    width: 20em;
    height: 20em;
}