.contact-container{
    padding: 10em;
    background-color: #F2F3F4;
    padding-bottom: 20em;
}
#contact-header{
    margin-bottom: 1em;
}
.contact-content{
    padding: 2em;
    display: flex;
    flex-direction: column;
}
.contact-subheader{
    display: flex;
    flex-direction: row;
    font-size: 22pt;
    margin-top: 1em;
}
.contact-subtitle{
    font-weight: 100;
}
.contact-subcontent{
    font-weight: 400;
    margin-left: 0.5em;
}
#social-header{
    margin-top: 2em;
    font-size: 24pt;
}
.social-row{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10em;
}
.sq{
    border-radius: 0;
    background-color: #F2F3F4;
    color: black;
}
.sq:hover{
    background-color: #F2F3F4;
    color: black;
}
@media(max-width: 874px){
    .contact-container{
        padding: 8em;
        padding-top: 10em;
        padding-bottom: 20em;
    }
}
@media(max-width: 737px){
    .contact-container{
        padding: 4em;
        padding-top: 10em;
        padding-bottom: 20em;
    }
}
@media(max-width: 612px){
    .contact-content{
        padding: 0;
    }
}
@media(max-width: 526px){
    .contact-container{
        padding: 2em;
        padding-top: 10em;
        padding-bottom: 20em;
    }
    #social-header{
        font-size: 20pt;
    }
    .contact-subheader{
        font-size: 18pt;
    }
}
@media(max-width: 427px){
    #social-header{
        font-size: 18pt;
    }
    .contact-subheader{
        font-size: 16pt;
        flex-direction: column;
    }
    .contact-subcontent{
        margin-left: 0;
    }
}
@media(max-width: 321px){
    .contact-container{
        padding: 0;
        padding-top: 10em;
        padding-bottom: 20em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contact-subheader{
        font-size: 14pt;
    }
    #social-header{
        font-size: 16pt;
    }
}
@media(max-width: 259px){
    .contact-subheader{
        font-size: 12pt;
    }
    #social-header{
        font-size: 14pt;
    }
    #contact-header{
        text-align: center;
    }
}