.experience-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2em;
}
.experience-content{
    margin-top: 1em;
    width: 100em;
    height: 40em;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.experience{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 1em;
}
.experience-dot{
    border-radius: 50%;
    height: 7px;
    width: 7px;
    background-color: black;
}
.experience-line{
    background-color: black;
    height: 1px;
    width: 100%;
}
.experience-year{
    font-size: 18pt;
}