.footer-container{
    height: 2em;
    background-color: #120101;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.footer-content{
    margin-right: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
}
