.footer-container{
    margin-top: 15em;
    height: 2em;
    background-color: #76797F;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.footer-content{
    margin-right: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
}
