.introduction-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 40em;
    width: 100%;
    background: rgb(4,6,37);
    background: linear-gradient(141deg, rgba(4,6,37,1) 0%, rgba(8,10,70,1) 7%, rgba(17,19,83,1) 15%, rgba(38,40,108,1) 24%, rgba(53,55,122,1) 41%, rgba(53,55,122,1) 59%, rgba(38,40,108,1) 76%, rgba(17,19,83,1) 85%, rgba(8,10,70,1) 93%, rgba(4,6,37,1) 100%);
}
.bg-div{
    flex: 0 0 25%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
}
.bg-star{
    background-color: #FEF9E7;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    align-self: center;
}
.name-container{
    color: white;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-60%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.name{
    cursor: default;
}
.name > h1{
    font-size: 32pt;
}
.name-subheader{
    cursor: default;
}
.name-subheader > p{
    font-size: 18pt;
}
.name-links{
    display: flex;
    flex-direction: row;
    width: 7em;
    justify-content: space-between;
}
.fa{
    padding: 10px;
    font-size: 30px;
    width: 52px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    background-color: white;
}
.fa:hover{
    text-decoration: none;
}
.fa-linkedin{
    background: #007bb5;
    color: white;
}
.fa-linkedin:hover{
    background: #007bb5;
    color: white;
}
.fa-github{
    background: white;
    color: black;
}
.fa-github:hover{
    background: white;
    color: black;
}

@media(max-width: 900px){
    .name-container{
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
    }
}
@media(max-width: 538px){
    .name > h1{
        font-size: 26pt;
    }
    .name-subheader > p{
        font-size: 12pt;
    }
}
@media(max-width: 402px){
    .name-container{
        width: 100%;
    }
}
@media(max-width: 256px){
    .name > h1{
        font-size: 24pt;
    }
    .name-subheader > p{
        font-size: 10pt;
    }
}