.nav-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 3em;
    background-color: #120101;
    color: white;
}
.nav-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
#nav-menu-title{
    font-size: 14pt;
}
.burger{
    display: flex;
    flex-direction: column;
    width: 2.2em;
    border: 2px solid white;
    justify-content: space-between;
    align-self: center;
    height: 2em;
    padding: 5px;
    margin: 0.5em;
    margin-left: 1em;
    align-self: flex-start;
}
.line{
    background-color: white;
    height: 3px;
}
.nav-menu{
    display: flex;
    flex-direction: column;
    line-height: 2.5em;
    width: 10em;
    margin: 0.5em;
    padding: 1em;
    background-color: black;
    border-radius: 5px;
    opacity: 0.85;
}
.nav-link{
    font-size: 18pt;
    text-decoration: none;
    color: white;
    opacity: 0.5;
}
.nav-link:hover{
    opacity: 1;
}