.nav-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 3em;
    background-color: #120101;
    color: white;
}
.nav-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    background-color: #120101;
    width: 10.5em;
}
.nav-btn:hover{
    background-color: #F37171;
}
#nav-menu-title{
    font-size: 14pt;
}
.burger{
    display: flex;
    flex-direction: column;
    width: 2.2em;
    border: 2px solid white;
    justify-content: space-between;
    align-self: center;
    height: 2em;
    padding: 5px;
    margin: 0.5em;
    margin-left: 1em;
    align-self: flex-start;
}
.line{
    background-color: white;
    height: 3px;
}
.nav-menu{
    display: flex;
    flex-direction: column;
    line-height: 2.5em;
    width: 10em;
    margin: 0.5em;
    padding: 1em;
    background-color: black;
    border-radius: 5px;
    opacity: 0.75;
    transform: translateX(-105%);
}
.nav-menu:hover{
    opacity: 1;
}
.nav-menu[slide='1']{
    animation: slideIn 0.1s linear 1 forwards;
}
.nav-menu[slide='0']{
    animation: slideOut 0.1s linear 1 forwards;
}
.nav-link{
    font-size: 14pt;
    text-decoration: none;
    color: white;
    opacity: 0.5;
}
.nav-link:hover{
    opacity: 1;
    color: white;
}
@keyframes slideIn{
    100%{transform: translateX(0%);}
}
@keyframes slideOut{
    0% { transform: translateX(0%);}
    100%{ transform: translateX(-105%);}
}