.nav-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    z-index: 1;
}
.nav-toolbar{
    background-color: #120101;
}
.nav-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    background-color: #120101;
    width: 10.5em;
    height: 3em;
}
.nav-btn:hover{
    background-color: #F37171;
}
#nav-menu-title{
    font-size: 14pt;
    text-align: center;
}
.burger{
    display: flex;
    flex-direction: column;
    width: 2.2em;
    border: 2px solid white;
    justify-content: space-between;
    height: 2em;
    padding: 5px;
    margin: 0.5em;
}
.line{
    background-color: white;
    height: 3px;
}