.nav-menu{
    display: flex;
    flex-direction: column;
    line-height: 2.5em;
    width: 10em;
    margin: 0.5em;
    padding: 1em;
    background-color: black;
    border-radius: 5px;
    position: fixed;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    margin-top: 3.5em;
    transform: translateX(-200%);
    z-index: 1;
}
.nav-menu[slide='1']{
    animation: slideIn 0.1s linear 1 forwards;
}
.nav-menu[slide='0']{
    animation: slideOut 0.1s linear 1;
}
.nav-link{
    font-size: 14pt;
    text-decoration: none;
    color: white;
    opacity: 0.5;
}
.nav-link:hover{
    opacity: 1;
    color: white;
}
@keyframes slideIn{
    0%{ display: unset }
    100%{transform: translateX(0%);}
}
@keyframes slideOut{
    0% { transform: translateX(0%);}
    100%{ transform: translateX(-200%); }
}