.portfolio-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #040625;
    color: white;
    padding-top: 3em;
    padding-bottom: 10em;
}
.portfolio-grid{
    width: 75em;
    height: 42em;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 4em;
    display: flex;
    flex-wrap: wrap;
}
@media(max-width: 1291px){
    .portfolio-grid{
        width: 85%;
        height: initial;
    }
}
@media(max-width: 870px){
    .portfolio-grid{
        flex-wrap: unset;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}
@media(max-width: 488px){
    .portfolio-grid{
        width: 100%;
    }
}