.portfolio-item{
    flex: 0 0 32%;
    max-width: 22em;
    height: 20em;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
    overflow: hidden;
    color: black;
}
.portfolio-item:hover[slide='0']{
    animation: bounce 0.35s ease-in-out 1 forwards;
}
.portfolio-img{
    width: 100%;
    min-height: 14em;
    cursor: pointer;
    position: relative;
}
.item-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}
.item-header{
    width: 100%;
    min-height: 6em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #c7c7c7;
    padding: 1em;
}
.item-title{
    cursor: default;
}
.item-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item-link{
    color: black;
    cursor: pointer;
}
.item-link:hover{
    color: black;
    text-decoration: none;
    opacity: 0.5;
}
.item-information{
    width: 22em;
    min-height: 20em;
    padding: 0 1em;
    padding-top: 0.5em;
    background-color: white;
}
.item-information[slide='1']{
    animation: slideUp 0.2s linear 1 forwards;
}
.item-information[slide='0']{
    animation: slideDown 0.2s linear 1 forwards;
}
.information-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.information-close{
    cursor: pointer;
    color: #EC7063;
}
.information-content{
    height: 14em;
    overflow-y: auto;
    overflow-x: hidden;
}
.information-tags{
    padding-top: 0.5em;
    width: 100%;
}
.tag{
    margin-right: 0.5em;
}

@keyframes slideUp{
    100%{ transform: translateY(-100%); }
}
@keyframes slideDown{
    0%{ transform: translateY(-100%); }
    100%{ transform: translateY(0%); }
}
@keyframes bounce{
    0%{ transform: translateY(0%); }
    33%{ transform: translateY(-5%); }
    66%{ transform: translateY(5%); }
    100%{ transform: translateY(0%); }
}

@media(max-width: 1291px){
    .portfolio-item{
        flex: 0 0 50%; 
        margin-bottom: 2em;       
    }
}
@media(max-width: 870px){
    .portfolio-item{
        flex: unset;
        align-self: center;
    }
}
@media(max-width: 404px){
    .portfolio-item{
        width: 90%;
        max-width: unset;
    }
    .item-information{
        width: 100%;
    }
    .item-header{
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .item-title{
        text-align: center;
        margin-bottom: 0.5em;
    }
}