.portfolio-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}
.portfolio-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.portfolio-grid{
    display: flex;
    width: 75em;
    height: 42em;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 2em;
    flex-wrap: wrap;
}
