.shelf-container{
    background-color: #FDFEFE;
    width: 90em;
    margin-top: 2em;
    -webkit-box-shadow: 0px 10px 13px -10px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -10px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.shelf-content{
    display: flex;
    flex-direction: row;
    padding: 1em;
}
.shelf-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-left: 4em;
}
.shelf-icon{
    border: 1px solid black;
    height: 10em;
    width: 10em;
}
.shelf-icon > img{
    width: 100%;
    height: 100%;
}
.shelf-title{
    margin-top: 1em;
    font-size: 14pt;
}