.skills-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}
.shelf-container{
    border: 1px solid black;
    display: flex;
    width: 75%;
    flex-direction: column;
    margin-top: 2em;
    padding: 1em;
    background-color: #FDFEFE;
}
.shelf-content{
    display: flex;
    flex-direction: row;
    padding: 1em;
}
.shelf-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-left: 4em;
}
.shelf-icon{
    border: 1px solid black;
    height: 10em;
    width: 10em;
}
.shelf-title{
    margin-top: 1em;
    font-size: 14pt;
}