.timeline-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 22em;
    margin-top: 2em;
}
.timeline-content{
    margin-top: 1em;
    width: 85%;
    height: 20em;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.timeline{
    background-color: black;
    width: 80%;
    height: 1px;
    margin: 0 1em;
}
.timeline-end{
    font-size: 16pt;
}